td{
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 100px;
  border:5px solid black;
  color: white;

}
body{
  background-image: url("https://media.istockphoto.com/id/1292919739/vector/tic-tac-toe-school-game-colorful-seamless-pattern-for-fabric-and-print-on-the-paper.jpg?s=612x612&w=0&k=20&c=Q4gMspKHffPmhKuofb_Rb_WCD8uAgbsbXSKuWEcziM8=");

}
